<!-- @format -->

<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Hello, From Dax</h1>
		<p class="lead">
		The other change in the private and public
		</p>
		<hr class="my-4" />
		<p>
			It uses utility classes for typography and spacing to space content out
			within the larger container.
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
	</div>
</div>
<div class="container">
	<%if (blogs.length >0){%>
	<div class="row">
		<%blogs.forEach(blog=>{ %>
		<div class="col-md-4">
			<h3><%= blog.title%></h3>
			<p><%= blog.snippet%></p>
			<p class="text-muted">
					Posted By <%= blog.userName%>
				<%= blog._id.getTimestamp().toDateString()%></p>
			<p><a href="/blog/<%= blog._id%>" class="btn btn-secondary">View</a></p>
		</div>
		<%})%>
	</div>

	<%}else{%>
	<p>there is nothing to dispay</p>

	<%}%>
</div>


