<!-- @format -->

<div class="container">
	<div class="row justify-content-center">
		<div class="card">
			<img
				src="../images/<%= blog.blogImage%> "
				class="card-img-top"
				alt="blog image"
			/>
			<div class="card-header">
				<h3>
					<%= blog.title%>
				</h3>
			</div>
			<div class="card-body">
				<div class="card-subtitle text-muted">
					<h5>
						<%= blog.snippet%>
					</h5>
				</div>
				<p class="card-text">
					<%= blog.body%>
				</p>
				<p class="card-text">
					<%= blog.userName%>
				</p>
				<form action="/blog/<%= blog.id%>" method="POST">
					<button type="submit" class="btn btn-danger btn-block">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>
